body {
  background: white;
  color: black;
  font-weight: 300;
  margin: 0;
  border: 1px solid black;
  /*text-align: center;*/
  font-family: Helvetica neue, roboto;
}

canvas{
  border: 5px dashed green;
}