<div class = "container"> 
  <h1 class="text-center" style="font-family:Helvetica Neue; background-color:green; color:honeydew"> save enviornment game </h1>

  <div>
  <button class = "btn btn-btn btn-success btn-block"
          [hidden] = "!firstPlay" 
          (click)="play()"> Let's play save enviornment game  </button>  
  </div>

  <div class="center" [hidden] = "gameIsOn || firstPlay">
    <button class = "btn btn-btn btn-success btn-block"
            (click)="play()"> Play again </button>
    <app-score-board></app-score-board>    
</div>

  <div [hidden]="!gameIsOn"> 
    <p> Score: {{score}} </p>
    <hr>
    <canvas #canvas width="750" height="500"> 
    </canvas>
    <hr>
  </div> 

</div>
