<div class = "container"> 
  <div class="center" [hidden] = "!firstPlay" >
  <img src="../../assets/nature trash.jpg" width="750px" height="500px">
  <br> <br>

  <input placeholder="Enter your name"
          class="form-control play"
          type="text" 
          [(ngModel)]="name">
  <br>
  <button class = "btn btn-btn btn-success play"
          (click)="play()"
          [disabled]="!name"> Let's save enviornment game  </button>  
  </div>

  <div class="center" 
       [hidden] = "gameIsOn || firstPlay">
    <app-score-board ></app-score-board> 
    <br> <br>
    <button class = "btn btn-btn btn-success play"
            (click)="play()"> Play again </button>
  </div>
  
  <div [hidden]="!gameIsOn"> 
    <br>
    <div class="score">
      <p style="font-size:15px;"> Score: {{score}} </p>
      <hr>
    </div>
    <canvas #canvas width="750" height="500"> 
    </canvas>
    <hr>
  </div> 

</div>